<link rel="stylesheet" href="style.css" type="text/css" /><style>._css3m{display:none}</style>



	<div id="masthead" class="pbg">
  <div class="wrapper">
    <p id="logo"><a href="index.php" class="pbg">Operation Spokane Heroes</a></p>
  <div style=" clear:both;"></div>
 

</div>
 

 
    <!-- /close header-->
     
    <div id="navigation">  
	

<div style="background-color:#EBEBEB">

<ul id="css3menu1" class="topmenu">
	<li class="topfirst"><a href="aboutus.php" style="width:128px;height:15px;line-height:15px;">About Us</a></li>
	<li class="topmenu"><a href="index.php" style="width:83px;height:15px;line-height:15px;">Home</a></li>
	<li class="topmenu"><a href="contact.php" style="width:110px;height:15px;line-height:15px;">Contact</a></li>
	<li class="topmenu"><a href="donate.php" style="width:100px;height:15px;line-height:15px;">Donate</a></li>
	<li class="topmenu"><a href="resources.php" style="width:155px;height:15px;line-height:15px;"> Resources </a></li>
	<li class="topmenu"><a href="business.php" style="width:133px;height:15px;line-height:15px;">Business  </a></li>
	<li class="topmenu"><a href="calendar.php" style="width:128px;height:15px;line-height:15px;">Calendar</a></li>
	<li class="topmenu"><a href="aboutus.php" style="width:127px;height:15px;line-height:15px;">About Us</a></li>
	<li class="toplast"><a href="events.php" style="width:95px;height:15px;line-height:15px;">Events</a></li>
</ul><p class="_css3m"><a href="http://css3menu.com/">CSS Vertical List Menu Css3Menu.com</a></p>
<!-- End css3menu.com BODY section -->
</div>
